/* --- BODY --- */

body.home{
    background: linear-gradient(90deg, #2b59a9 25%, #ab2647 75%) repeat-y;
    margin: 0;
}

body.joe {
    background-color: #2b59a9;
    margin: 0;
}

body.donald {
    background-color: #ab2647;
    margin: 0;
}

/* --- NAVBAR --- */

.navbar {
    grid-column-start: 1;
    grid-column-end: end;
    grid-row-start: 1;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 47px;
    background: linear-gradient(90deg, #3d7dec 25%, #E43661 75%);
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.25));
    z-index: 3;
}

.navbar a {
    display: inline-block;
    list-style-type: none;
    text-align: center;

    padding: 14px 16px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    color: black;
}

.navbar a.active {
    font-weight: bold;
}

.navbar a:hover {
    font-weight: bold;
}

/* --- CONTAINER --- */

.container {
    display: grid;
    grid-template-columns: auto 26.9% 26.9% auto;
    grid-template-rows: 10% 20% 50% auto;
    height: 100vh;
}

.voteBar {
    width: 100%;
    height: 20px;
    background-color: white;
    transform: translate(0, 100px);
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: center;
    border-radius: 15px;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.5));
    z-index: 1;
}

.voteBlue {
    width: 53.9%;
    height: 20px;
    background-color: #3d7dec;
    border-radius: 15px 0 0 15px;
    transform: translate(0, 100px);
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: start;

    animation-name: loadBlue;
    animation-duration: 3s;

    z-index: 2;
}

.voteRed {
    width: 39.8%;
    height: 20px;
    background-color: #E43661;
    border-radius: 0px 15px 15px 0;
    transform: translate(0, 100px);
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: end;

    animation-name: loadRed;
    animation-duration: 3s;

    z-index: 2;
}

@keyframes loadBlue {
    from {width: 0%;}
    to {width: 53.9%;}
}

@keyframes loadRed {
    from {width: 0%;}
    to {width: 39.8%;}
}

.blueVoters {
    color: #6091e7;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    transform: translate(10px, 60px);

    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: start;

    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.25));
}

.redVoters {
    color: #f16288;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    transform: translate(-10px, 60px);

    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    justify-self: end;

    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 480px) {
    .blueVoters {
        font-size: 5vw;
    }

    .redVoters {
        font-size: 5vw;
    }
}

/* --- IMAGES --- */

.biden {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: end;
    width: 75%;
    content: url("../images/Joe Biden BW.png");
    justify-self: start;
    align-self: end;
    position: relative;
    transform: translate(0, -54%);
    z-index: 1;
}

.bidenPortrait {
    grid-row-start: 1;
    grid-row-end: end;
    position: relative;
    align-self: end;
    width: 60%;
    content: url("../images/Joe Biden Portrait BW.png");

    z-index: 1;
}

.trump {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-end: end;
    width: 75%;
    content: url("../images/Donald Trump BW.png");
    justify-self: end;
    align-self: end;
    z-index: 1;
    position: relative;
    transform: translate(0, -54%);
}

.donaldPortrait {
    grid-row-start: 1;
    grid-row-end: end;
    position: relative;
    align-self: end;
    width: 60%;
    content: url("../images/Donald Trump Portrait BW.png");

    z-index: 1;
}

.map {
    content: url("../images/President Map.png");
    height: 25vw;
    position: absolute;
    left: 30vw;
    bottom: 30vh;
    z-index: -1;
}

.demImage {
    content: url("../images/US_Democratic_Party_Logo.svg");
    height: 15%;
    min-height: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -250%);
}

.democrat a {
    position: absolute;
    color: #6091e7;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    font-weight: bold;

    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.25));

    top: 30%;
    left: 50%;
    transform: translate(-50%);
}



.repImage {
    content: url("../images/US_Republican_Party_Logo.svg");
    height: 15%;
    min-height: 75px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -250%);
}

.republic a {
    position: absolute;
    color: #f16288;
    font-size: 25px;
    font-family: Roboto, sans-serif;
    font-weight: bold;

    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.25));

    top: 30%;
    left: 50%;
    transform: translate(-50%);
}